# ---
apiVersion: v1
kind: Service
metadata:
  name: devops-app
  namespace: default
  labels:
    app: devops-app
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
  selector:
    app: devops-app
---